html {
  overflow: hidden;
}

html, body, #root {
  height: 100vh;
  font-family: "Inter";
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #33554d;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.font-inter {
  font-family: "Inter";
}
